if (typeof(results) !== 'undefined')
  p#query
    .query Searched for: #{query.query}
    ul.lang
      li Languages
      each lang in query.lang
        li= lang
      each lang in query.nlang
        li.not= lang
    ul.tags
      li Tags
      each tag in query.tags
        li= tag
      each tag in query.ntags
        li.not= tag
  //
    | the 'order' element is just used by the client-side script to order the received data;
    | the reason it's done on the client side is so that the results can be re-ordered at will without 
    | having to issue a whole new query
  .order= query.order
else
  form#search
    fieldset
      label(for='q')
      input(type='text', name='q')
      input(type='submit', value='Search')
